.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.viewport {
  width: 100%;
  background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(32,32,32,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 800px;

  .object {
    max-width: 100%;
    max-height: 100%;
  }
  
  .slider01 {
    position: absolute;
    bottom: 90px;
  }
  
  .slider02 {
    position: absolute;
    left: 90px;
    writing-mode: sideways-lr;
  }
  
  .slider03 {
    position: absolute;
    top: 90px;
  }
  
  .slider04 {
    position: absolute;
    right: 90px;
  }
}

.sidebar {
  width: 15%;
  background-color: #2c2c2c;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: start;
  overflow-y: auto;
  overflow-x: hidden;

  .header {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid #666;
    width: 100%;
    padding: 0.5rem 0 1rem;

    .title {
      margin-left: 0.5rem;
      font-weight: bold;
      font-size: 0.813rem;
      margin-top: 0.5rem;
    }
  }

  .content {
    margin-top: 1rem;
    width: 100%;

    .object_name {
      font-size: 0.8rem;
      text-transform: capitalize;
      padding: 0.5rem;
      cursor: default;

      &:hover {
        background-color: #555;
      }
    }
  }

  .field_group {
    margin-bottom: 2rem;
    .title {
      font-weight: bold;
    }
  }
 

  
}



